<!DOCTYPE html>
<html>
<head>
  <title>form練習</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form-style.css') }}" />
  <script src="{{ url_for("static", filename="js/form.js") }}"></script>
</head>
<body>
  <form method="POST" class="button">
    {% for i in range(row) %}
      {% for j in range(column) %}
      {% set shortcut = shortcut_lists[i * column + j] %}
      <button type="submit" name="shortcut" value="{{ shortcut.name }}" id="{{ shortcut.id }}" class="element">{{ shortcut.name }}</button>
      {% endfor %}
    {% endfor %}

  </form>
</body>
</html>